.form {
  border: 0px;
  padding: 54px 36px 36px 36.51px;
}

.form__fieldset {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 0px;
  padding: 0;
}

.form__input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 27.26px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.form__input_placement {
  margin-bottom: 29.74px;
}

.form__submit {
  border-radius: 2px;
  border: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 50.15px;
  margin-top: 18.26px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
}

.form__submit:hover {
  opacity: 0.8;
}

.form__input_type_error {
  border-bottom-color: red;
}

.form__input-error {
  display: hidden;
  color: #ff0000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  padding: 5px 0 0 0;
}

.form__input-error_active {
  display: block;
}

.button_inactive {
  color: #b8b8b8;
  background: #ededed;
  pointer-events: none;
  user-select: none;
}

@media screen and (min-width: 320px) and (max-width: 627px) {
  .form {
    padding: 0px 22px 25px 22px;
  }
  .form__input {
    margin-bottom: 30px;
    height: 26px;
  }
  .form__submit {
    font-size: 14px;
    margin-top: 16px;
  }
}
