.logo {
    max-width: 173px;
    max-height: 33px;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 636px) {
    .logo {
        max-width: 126px;
        max-height: 24px;
    }
}