.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 195px;
    display: none;
}

.popup_opened {
    display: block;
}

.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 330px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
}

.popup__close-button {
    position: absolute;
    background-image: url("/images/Close Icon.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: -48px;
    right: -48px;
    background-color: rgba(0, 0, 0);
}

.popup__close-button:hover {
    opacity: 0.6;
}

.popup__title {
    padding: 34px 64px 0 36px;
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 1.21;
}

@media screen and (min-width: 320px) and (max-width: 627px) {
    .popup {
        padding-top: 123px;
    }
    .popup__container {
        width: 282px;
        height: 322px;
        margin: 0 auto;
    }
    .popup__close-button {
        width: 26px;
        height: 26px;
        top: -39.62px;
        right: 0;
    }
    .popup__title {
        font-size: 18px;
        padding: 25px 22px 76px 22px;
    }
}