.card {
    position: relative;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    width: 282px;
    height: 282px;
}

.card__image:hover {
    cursor: pointer;
}

.card__info {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
}

.card__paragraph {
    padding: 0;
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__button {
    padding: 0;
    border: 0;
    width: 21px;
    height: 19px;
    background-color: #fff;
    background: url("./../images/heart.svg") center no-repeat;
}

.card__button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.card__button_active {
    opacity: 1;
    background: url(./../images/heart-black.svg) center no-repeat;
}

.card__delete-button {
    position: absolute;
    padding: 0;
    border: 0;
    top: 23.76px;
    right: 16.28px;
    width: 18px;
    height: 19.3px;
    background: url("./../images/bin.svg") center no-repeat;
}

.card__delete-button:hover {
    cursor: pointer;
    opacity: 0.5;
}